.resetpassword-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This will make the container take the full viewport height */
  background-image: url("../Images/forgotpassword.jpg"); /* Set your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

form {
  border-radius: 10px;
  text-align: center;
  background-color: none;
}

label {
  margin-top: 40px;
  font-weight: bold;
}
.header {
  position: static;
}
.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}
